.local-deploy/
.github-safety/
.sessions/
_compareTemp/
**/_notes/
*.mp4
*.mov
*.avi
*.m4v
*.cr2
*.psd
*.ai
*.indd
*.zip
*.dmg
*.exe
*.msi
*.pdf
*.docx
*.xlsx
*.xls
*.pptx
*.mp3
*.wav
config.php
db/config.php
db/db_config.php
db/admin/admin_config*.php
db/admin/!admin_config.php
trivia/db_config*.php
